name: Release Swag

on:
  push:
    tags:
      - "swag@*"

jobs:
  publish:
    if: github.repository == 'alirezahematidev/furiosa'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    environment: production-form
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Install dependencies
        run: pnpm install

      - name: Build Swag Package
        run: pnpm build:swag

      - name: Release
        run: pnpm publish --no-git-checks -r --filter "@furiosa/swag" --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN_FURIOSA }}
